body {
    background-color: hsl(242, 68%, 17%);
    color: $primary-white;
    margin: 0;
}
.c-body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 100px;
    margin-right: 100px;
}
.c-body-header{
    text-align: center;
}